table.form-style {
  background-color: white;
  border: none;
}

table {
  border: 1px solid #e3e3e3;
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

table td, table th {
  padding: 5px;
  color: #333;
}
table thead {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: .2em 0 .2em .5em;
  text-align: left;
  color: #4B4B4B;
  background-color: #C8C8C8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
  background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
  border-bottom: solid 1px #999;
}
table th {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  text-shadow: white 1px 1px 1px;
}
table td {
  line-height: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

/*table td:hover {
  background-color: #fff;
}*/

ul, ul li {
  display: block;
  margin: 0px;
  padding: 0px;
}

a.comment_up {
  color: green;
  font-weight: bold;
  font-size: 15px;
}

div.comment_header {
  float: left;
  width: 200px;
}

div.song_box {
  box-shadow: 3px 3px 5px;
  width: 550px;
  clear: left;
  float: left;
  margin-right: 50px;
  padding: 10px;
  min-height: 500px;
}

div.song_data {
  width: 400px;
  float: left;
}

div.add_comment_form {
  width: 400px;
  padding: 10px;
  margin: auto;
  float: right;
  box-shadow: 3px 3px 5px;
  margin-bottom: 30px;
}

div.comment {
  clear: both;
  padding: 10px;
  padding-bottom: 40px;
  box-shadow: 3px 3px 5px;
  margin: auto;
  margin-top: 10px;
}
